* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    --bg-color: #EDF2FF;
    --text-color: #00082F;
    --primary-color: #4263EB;
    --primary-color-hover: #364FC7; 
  }
  
  body.dark-blue {
    --bg-color: #00082F;
    --text-color: #FFFFFF;
  }
  
  body.pink {
    --bg-color: #FFF0F6;
    --text-color: #1F000B;
    --primary-color: #D6336C;
    --primary-color-hover: #A61E4D;
  }
  
  body.dark-pink {
    --bg-color: #1F000B;
    --text-color: #FFFFFF;
    --primary-color: #D6336C;
    --primary-color-hover: #A61E4D;
  }
  
  body.green {
    --bg-color: #f0fff0;
    --text-color: #011f00;
    --primary-color: #3bd633;
    --primary-color-hover: #25a61e;
  }
  
  body.dark-green {
    --bg-color: #011f00;
    --text-color: #FFFFFF;
    --primary-color: #3bd633;
    --primary-color-hover: #25a61e;
  }
  
  body.gold {
    --bg-color: #FFF1C1;
    --text-color: 141000;
    --primary-color: #FFC700;
    --primary-color-hover: #AE8800;
  }
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    text-align: center;
    width: 300px;
    margin: 60px auto;
  }
  
  img {
    width: 100%;
  }
  
  img.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: var(--primary-color) 4px solid;
    padding: 3.7px;
  }
  
  h1 {
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
  }
  
  .username {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    opacity: 0.8;
  }
  
  ul {
    list-style: none;
    margin: 48px 0;
  }
  
  ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
    background: var(--primary-color);
    color: white;
    text-transform: uppercase;
    font-size: 14px;
  
    margin-bottom: 16px;
    border-radius: 6px;
    transition: background 400ms
  }
  
  ul li a:hover {
    background: var(--primary-color-hover);
  }
  
  footer {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
    transition: opacity 400ms;
  }
  
  footer:hover {
    opacity: 1;
  }
  
  footer a {
    color: var(--text-color);
  }